@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
/***  Box Shadows  ***/
/***  Transitions  ***/
/***  Scale  ***/
/***  Radius  ***/
body {
  overflow-x: hidden; }

.match {
  background: yellow; }

#results {
  display: none; }

#load-display {
  padding-bottom: 150px;
  position: absolute;
  top: 150px;
  left: 250px;
  background: #eaeaea url(../images/loader.gif) no-repeat 50% 95%;
  -webkit-box-shadow: 2px 4px 2px 1px #555555;
  -moz-box-shadow: 2px 4px 2px 1px #555555;
  box-shadow: 2px 4px 2px 1px #555555; }

.open-icon {
  position: absolute;
  right: 10px;
  top: 100%;
  margin-top: -20px;
  height: 50px;
  cursor: pointer;
  color: blue; }

.result {
  position: relative; }

.clear-filter {
  position: absolute;
  right: 0;
  top: 60%;
  cursor: pointer;
  color: red; }

.slide-container {
  position: relative; }
  .slide-container .slide {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  .slide-container .ng-enter, .slide-container .ng-leave {
    -o-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -webkit-transition: all 1500ms ease;
    transition: all 1500ms ease; }
  .slide-container .ng-enter {
    left: 100%; }
  .slide-container .ng-enter-active {
    left: 0; }
  .slide-container .slide.ng-leave-active {
    left: -200%; }

@media (min-width: 768px) {
  /* small */ }
@media (min-width: 992px) {
  /* medium */ }
@media (min-width: 1200px) {
  /* large */ }
