<div id="left-display">
    <h1>Using the Subcontracting Directory</h1>
    <p><strong>Who the GSA Subcontracting Directory is for</strong>: The <a href="/portal/service/SubContractDir/category/102831/hostUri/portal">GSA Subcontracting Directory</a> is published for small business concerns seeking subcontracting opportunities with General Services Administration (GSA) prime contractors.The directory lists large business prime contractors who, by law, are required to establish plans and goals for subcontracting with small business firms.</p>

    <p><strong>Who's in the directory:</strong></p>

    <ul>
        <li>Large prime contractors who have received &nbsp;federal contracts, other than construction, valued at over $650,000</li>

        <li>Large prime contractors who have received federal contracts for construction valued at over $1.5 million</li>
    </ul>

    <p><strong>How to use the Subcontracting Directory</strong>: Eligible GSA contractors are listed alphabetically by name within each of the eleven GSA regions. Each listing contains:</p>

    <ul>
        <li>Company's name and address</li>

        <li>Place of performance</li>

        <li>Product/service code</li>

        <li>NAICS code</li>

        <li>Date signed</li>

        <li>Action obligation</li>

        <li>Vendor phone</li>

        <li>PIID (contract number)</li>

        <li>P/S Description</li>

        <li>NAICS description</li>

        <li>Effective date</li>

        <li>Estimated completion date</li>
    </ul>

    <p>Small businesses are encouraged to contact prime contractors directly for subcontracting opportunities.</p>

    <p><strong>Regional assistance: </strong>Looking beyond the directory? The eleven regional <a href="http://www.gsa.gov/portal/staffDirectory/topic/37@@">GSA Small Business Centers</a> offer more information regarding these opportunities.</p>

    <p>If you want insight into what GSA expects from prime contractors when crafting a subcontracting agreement, review GSA's template <a href="/portal/getMediaData?mediaId=189127">model subcontracting plan</a> (<a href="/portal/getMediaData?mediaId=189123">Section 508 compliant version</a>), which it offers to prime contractors to help them frame their objectives.</p>

    <p style=" margin-top: 25px;">The shortcut to this page is www.gsa.gov/subdirectory.</p>

</div>